<!DOCTYPE html>
<html>

<head>
  <title>Testlogin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="header" style="background-color:#00FFFF;"><h2>Started from the Bottom
<br></br></h2></div>
</body>
</html>
